<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Espace Étudiant</title>
</head>
<body>
    <div class="sidebar">
        <h2>EduPlace IA</h2>
        <p>🎓 {{ user.nom }}</p>
        <p><small>Classe : {{ user.classe }}</small></p>
        <hr>
        <a href="/logout" style="color:red">Déconnexion</a>
    </div>
    <div class="main-content">
        <h1>Mes Cours ({{ user.classe }})</h1>
        <div class="course-card">
            <p>Aucun cours publié pour le moment.</p>
        </div>
        <div class="course-card">
            <h3>Déposer un devoir</h3>
            <input type="file">
            <button class="btn">Envoyer le TP</button>
        </div>
    </div>
</body>
</html>
