{% extends "base.html" %}
{% block content %}
<div class="glass-card">
    <h1>Espace Enseignant : {{ user.nom }}</h1>
    <p>Matière : <span style="color: #fbbf24;">{{ user.matiere }}</span></p>
    <hr style="border: 0.5px solid #334155; margin: 20px 0;">
    <h3>Actions Rapides</h3>
    <div style="display: flex; gap: 15px;">
        <button class="btn-grad">Appel de présence</button>
        <button class="btn-grad" style="filter: hue-rotate(45deg);">Envoyer un devoir</button>
    </div>
</div>
{% endblock %}
