<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>EduPlace | Bienvenue</title>
</head>
<body class="auth-page">
    <div class="auth-card">
        <h1>EduPlace IA</h1>
        <p>La plateforme éducative de demain.</p>
        <br>
        <a href="/login" class="btn" style="text-decoration:none; display:block; margin-bottom:10px;">Se connecter</a>
        <a href="/inscription" class="btn" style="text-decoration:none; display:block; background:#1e293b; border:1px solid #6366f1;">S'inscrire</a>
    </div>
</body>
</html>
