{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-xl shadow-lg mt-10">
    <h2 class="text-3xl font-bold text-center mb-6 text-gray-800">Se connecter</h2>
    <form action="/login" method="post" class="space-y-4">
        <div>
            <label class="block text-gray-700">Email Institutionnel</label>
            <input type="email" name="email" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div>
            <label class="block text-gray-700">Mot de passe</label>
            <input type="password" name="password" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <button type="submit" class="w-full bg-blue-700 text-white py-3 rounded-lg font-bold hover:bg-blue-800 transition shadow-md">
            Accéder à EduPlace
        </button>
    </form>
</div>
{% endblock %}